@model IEnumerable<Category>
    @{
    ViewData["Title"] = "Kategori Yönetimi";
    }

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Kategoriler</h2>
            <button type="button" class="btn btn-success" onclick="$('#CategoryModal').modal('show')">
                <i class="bi bi-plus-lg"></i> Yeni Kategori
            </button>
        </div>

        <!-- Kategori Listesi Tablosu -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td><a class="btn btn-danger" asp-route-id="@item.Id" asp-action="DeleteCategory"> Sil</a>
                    <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button">Güncelle</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <!-- Yeni Kategori Modal -->
    <div class="modal fade" id="CategoryModal" tabindex="-1" aria-labelledby="CategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg rounded">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="CategoryModalLabel">Yeni Kategori Ekle</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <form method="POST" asp-action="AddCategory" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="Id" id="Id" class="form-control"/>
                            <input type="text" name="Name" id="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" id="saveBtn" class="btn btn-primary">Ekle</button>
                        <button type="submit" id="updateBtn" class="btn btn-primary">Güncelle</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(() => clearForm())
            function updateForm(Id) {
                fetch('/Home/CategoryDetails?Id=' + Id)
                    .then(res => res.json())
                    .then(res => {
                        $('#Id').val(res.id)
                        $('#Name').val(res.name)
                    })
                $('#saveBtn').hide();
                $('#updateBtn').show();
                $('#CategoryModal').modal('show');
            }
            function clearForm() {
                $('#Id').val(null)
                $('#Name').val(null)
                $('#saveBtn').show();
                $('#updateBtn').hide();

            }
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
