@model IEnumerable<AdminBlog.Models.Blog>
    @{
    ViewData["Title"] = "Kategori Yönetimi";
    }

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Yazarlar</h2>
            <button type="button" class="btn btn-success" onclick="$('#AuthorModal').modal('show')">
                <i class="bi bi-plus-lg"></i> Yeni Yazar
            </button>
        </div>

        <!-- Kategori Listesi Tablosu -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
              {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>
                        @if(item.IsPublish){
                        <a class="btn btn-success">Yayýnlandý</a>

               }
                        else
                        {
                        <a class="btn btn-light" asp-route-id="@item.Id" asp-action="Publish">Yayýnla</a>
                        }
                    </td>
                </tr>
        }
            </tbody>
        </table>
